[submodule "public/vendor/recline"]
	path = public/vendor/recline
	url = https://github.com/gotjoshua/recline
[submodule "public/vendor/TimelineJS3"]
	path = public/vendor/TimelineJS3
	url = https://github.com/gotjoshua/TimelineJS3
